body{
    padding: 0;
    margin: 0;
    margin-top: 5rem;
    background: linear-gradient(to right, #2e6986, #aaacbf);
}

#principal-input{
    margin-left: 5rem;
    justify-content:flex-start;
    display: grid;
}

label[name=currency-field] {
    font-size: 20px;
  }

#currency-field{
    margin-top: 1rem;
    margin-left: 1rem;
}

#currency-lists{
    margin-left: 1rem;
}

#button-convertion{
    margin-top: 0.5rem;
    margin-left: 1rem;
    border-radius: 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}